.content {
  width: 100%;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: text;
}

.icon-search {
  padding: 0 10px 0 20px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
}
.title {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  width: 100%;
}

.input {
  background-color: transparent;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  padding: 3px 16px;
}

.icon-input {
  font-size: 17px;
  padding: 0 12px 0px 0px;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.tippy-box {
  width: 370px;
  height: 380px;
}

.tippy-header {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  font-weight: bold;
  margin: 4px 26px 0 16px;
}

.tippy-content {
  overflow: hidden;
  overflow-y: auto;
  height: 345px;
  width: 370px;
}

.clear-btn {
  color: var(--primary-btn-color);
}
