.container {
  width: 100%;
  padding: 4px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.8);
}

.footer {
  padding: 12px 0;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.4);
}
